<div>
    <h3>Education WP 3.0.6 - 2017-04-13</h3>

    <div class="update">Update</div>
    <ul>
        <li>Prepared for LearnPress version 2.1.6</li>
        <li>Prepared for ThimCore version 1.1.0</li>
        <li>Updated WooCommerce integration add-ons (with LearnPress and Events).</li>
        <li>Updated to latest version 5.1.1 of Visual Composer plugin.</li>
        <li>Updated Kindergarten Child Theme.</li>
    </ul>
</div>

<div>
    <h3>Education WP 3.0.5 - 2017-04-11</h3>

    <div class="features">New features</div>
    <ul>
        <li>Added Display Settings box for each course.</li>
        <li>Removed ThimCore package from Eduma theme folder.</li>
    </ul>

    <div class="update">Update</div>
    <ul>
        <li>Updated WooCommerce (version 3.0.1) outdated templates.</li>
    </ul>

    <div class="fixes">Bug fixes</div>
    <ul>
        <li>Fixed an issue with course wishlist button.</li>
    </ul>
</div>

<div>
    <h3>Education WP 3.0.4 - 2017-04-05</h3>

    <div class="update">Update</div>
    <ul>
        <li>Improved updating process (from Eduma 2.x to Eduma 3.x).</li>
        <li>Updated ThimCore version 1.0.4.</li>
    </ul>

    <div class="fixes">Bug fixes</div>
    <ul>
        <li>Fixed some customize options (Blog Title, Social Sharing).</li>
    </ul>
</div>

<div>
    <h3>Education WP 3.0.3 - 2017-03-30</h3>

    <div class="update">Update</div>
    <ul>
        <li>Improved installing Eduma child-themes process.</li>
        <li>Improved updating process.</li>
        <li>Added notice to remove Thim Framework plugin.</li>
        <li>Updated ThimCore version 1.0.3.</li>
    </ul>
</div>


<div>
    <h3>Education WP 3.0.2 - 2017-03-28</h3>

    <div class="features">New features</div>

    <ul>
        <li>Added installation add-ons interface.</li>
    </ul>

    <div class="update">Update</div>
    <ul>
        <li>Improved updating process.</li>
        <li>Improved adding custom background image for categories.</li>
    </ul>

    <div class="fixes">Bug fixes</div>
    <ul>
        <li>Fixed some customize settings (Copyright Text and Custom CSS).</li>
    </ul>
</div>

<div>
    <h3>Education WP 3.0.1 - 2017-03-24</h3>

    <div class="fixes">Bug fixes</div>
    <ul>
        <li>Fixed missing style on child theme.</li>
    </ul>
</div>

<div>
    <h3>Education WP 3.0.0 - 2017-03-24</h3>

    <div class="features">New features</div>
    <ul>
        <li>Added Thim Core plugin(new customizer, new post meta, new demo importer...).</li>
        <li>Optimized performance.</li>
        <li>Added Persian translation package for the theme.</li>
        <li>Added media intro for courses.</li>
    </ul>
    <div class="update">Update</div>
    <ul>
        <li>Updated to latest version 5.4.1 of Slider Revolution plugin.</li>
        <li>Updated to latest version 5.1 of Visual Composer plugin.</li>
        <li>Updated icons for widgets and shortcodes.</li>
        <li>Updated LearnPress (version 2.1.5) outdated templates.</li>
        <li>Updated Kindergarten Child Theme.</li>
        <li>Improved style.</li>
    </ul>

    <div class="fixes">Bug fixes</div>
    <ul>
        <li>Fixed some minor bugs.</li>
    </ul>
</div>

<div>
    <h3>Education WP 2.8.6 - 2017-02-24</h3>

    <div class="features">New features</div>
    <ul>
        <li>Added TP Events - WooCommerce Payments add-on.</li>
        <li>Added Mexican Spanish, Russian, Brazilian Portuguese translation packages for the theme.</li>
    </ul>

    <div class="update">Update</div>
    <ul>
        <li>Updated TP Events 2.0.</li>
        <li>Updated Kindergarten Child Theme.</li>
        <li>Updated LearnPress premium add-ons.</li>
        <li>Updated Tax Meta Class library.</li>
        <li>Updated LearnPress (version 2.1.4) outdated templates.</li>
        <li>Improved styles (shop, LP profile...).</li>
    </ul>
</div>

<div>
    <h3>Education WP 2.8.5 - 2017-02-10</h3>

    <div class="features">New features</div>
    <ul>
        <li>Optimized database queries.</li>
    </ul>

    <div class="update">Update</div>
    <ul>
        <li>Updated Memberships add-on (improve membership duration process).</li>
    </ul>

    <div class="fixes">Bug fixes</div>
    <ul>
        <li>Fixed HTTP header conflict.</li>
        <li>Fixed an issue with Cookies (login with an incognito browser).</li>
    </ul>
</div>

<div>
    <h3>Education WP 2.8.0 - 2016-12-21</h3>

    <div class="features">New features</div>
    <ul>
        <li>Added a brand new Pre-built DEMO for University (v4 - SiteOrigin).</li>
        <li>Supported LearnPress - Coming Soon Courses add-on</li>
    </ul>

    <div class="update">Update</div>
    <ul>
        <li>Improved updater from Visual Composer (from version 5.0).</li>
        <li>Updated LearnPress (version 2.0.8.2) outdated templates.</li>
        <li>Updated LearnPress - Certificates add-on.</li>
        <li>Updated LearnPress - WooCommerce Payments add-on.</li>
    </ul>
</div>

<div>
    <h3>Education WP 2.7.0 - 2016-11-21</h3>

    <div class="features">New features</div>
    <ul>
        <li>Added new lessons pop-up style.</li>
        <li>Supported slider, PDF, Powerpoint... for lessons.</li>
    </ul>

    <div class="update">Update</div>
    <ul>
        <li>Improved course templates, Kindergarten demo, responsive style, RTL.</li>
    </ul>

    <div class="fixes">Bug fixes</div>
    <ul>
        <li>Fixed some minor bugs with Courses widget.</li>
    </ul>
</div>

<div>
    <h3>Education WP 2.6.0 - 2016-11-11</h3>

    <div class="features">New features</div>
    <ul>
        <li>Added a brand new Pre-built DEMO for University (v3 - SiteOrigin).</li>
    </ul>

    <div class="update">Update</div>
    <ul>
        <li>Improved Kindergarten Child Theme.</li>
        <li>Updated to latest version 5.0 of Visual Composer plugin.</li>
        <li>Updated event participants section.</li>
    </ul>
</div>

<div>
    <h3>Education WP 2.5.0 - 2016-09-23</h3>

    <div class="features">New features</div>
    <ul>
        <li>Supported Visual Composer page builder :)</li>
    </ul>

    <div class="update">Update</div>
    <ul>
        <li>Improved styles.</li>
    </ul>

    <div class="fixes">Bug fixes</div>
    <ul>
        <li>Fixed some minor bugs</li>
    </ul>
</div>

<div>
    <h3>Education WP 2.4.0 - 2016-06-20</h3>

    <div class="features">New features</div>
    <ul>
        <li>Added a brand new Pre-built DEMO for Kindergarten (child theme).</li>
        <li>Added Timetable widget.</li>
    </ul>

    <div class="update">Update</div>
    <ul>
        <li>Improved sub-menu style.</li>
        <li>Improved LearnPress style.</li>
        <li>Updated LearnPress WooCommerce Payments add-on.</li>
        <li>Updated to latest version 5.2.5.4 of Slider Revolution plugin.</li>
    </ul>

    <div class="fixes">Bug fixes</div>
    <ul>
        <li>Fixed outdated WooCommerce templates.</li>
    </ul>
</div>

<div>
    <h3>Education WP 2.3.0 - 2016-05-30</h3>

    <div class="features">New features</div>
    <ul>
        <li>Integrated with Paid Membership Pro plugin.</li>
        <li>Supported courses membership features.</li>
        <li>Added link target option for menu items.</li>
    </ul>
</div>

<div>
    <h3>Education WP 2.2.0 - 2016-04-28</h3>

    <div class="features">New features</div>
    <ul>
        <li>Added a brand new Pre-built DEMO for Courses Hub.</li>
        <li>Added Courses Collection widget.</li>
    </ul>

    <div class="update">Update</div>
    <ul>
        <li>Improved auto play option for carousel.</li>
    </ul>

    <div class="fixes">Bug fixes</div>
    <ul>
        <li>Fixed a minor js bug.</li>
    </ul>
</div>

<div>
    <h3>Education WP 2.1.0 - 2016-04-21</h3>

    <div class="features">New features</div>
    <ul>
        <li>Added a brand new Pre-built DEMO for Languages School.</li>
    </ul>

    <div class="update">Update</div>
    <ul>
        <li>Improved Courses widget.</li>
        <li>Improved Icon Box widget.</li>
        <li>Improved responsive.</li>
        <li>Improved gallery popup.</li>
        <li>Improved events</li>
        <li>Updated to latest version 5.2.5 of Slider Revolution plugin.</li>
    </ul>

    <div class="fixes">Bug fixes</div>
    <ul>
        <li>Fixed pre-loading on IE 11.</li>
    </ul>
</div>

<div>
    <h3>Education WP 2.0 - 2016-04-11</h3>

    <div class="features">New features</div>
    <ul>
        <li>Upgraded to LearnPress version 1.0</li>
        <li>Added events registration feature.</li>
    </ul>

    <div class="update">Update</div>
    <ul>
        <li>Updated to latest version 5.2.4.1 of Slider Revolution plugin.</li>
        <li>Improved menu style.</li>
        <li>Improved site performance.</li>
    </ul>
</div>

<div>
    <h3>Education WP 1.0 - 2015-12-22</h3>
    <div class="features">New features</div>
    <ul>
        <li>The most amazing Education WordPress Theme was born :)</li>
    </ul>
</div>